<div *ngIf="showLoader" class="dimPage">
  <p-progressSpinner
    style="position: absolute;
  left: 40%;
  top: 40%;" ></p-progressSpinner>
</div>
<section class="ftco-section" style="background-image: url(../../assets/imgs/background.png);
                                     background-size: cover;
                                     overflow: hidden;
                                     min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section writing-font">EZ LOCATION</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="wrap d-md-flex">
          <div class="img" style="background-image: url(../../assets/imgs/logo.png); background-size: contain">
          </div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4 writing-font">Connexion</h3>
              </div>
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="signin-form">
              <div class="form-group mb-3">
                <label class="label writing-font" >Login</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Login" style="height: 48px" required>
              </div>
              <div class="form-group mb-3">
                <label class="label writing-font"  >Mot de Passe</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" style="height: 48px"  required>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!loginForm.valid" class="form-control btn btn-primary rounded submit px-3 writing-font" style="height: 48px">Se Connecter</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0 writing-font">Se Rappeler de moi
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right writing-font">
                  <a href="#">Mot de passe oublié?</a>
                </div>
              </div>
            </form>
            <p class="text-center writing-font">Pas un membre? <a data-toggle="tab" href="#signup">Démo</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="../../assets/js/main.js"></script>
<p-toast position="top-right" ></p-toast>
