<p-menubar [model]="items">
  <ng-template pTemplate="start" >
    <img src="../../../../assets/imgs/logo.png" height="50" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton pRipple label="Logout" icon="pi pi-power-off" (click)="logout()" class="p-button-rounded p-button-danger"></button>
  </ng-template>
</p-menubar>

<!--p-sidebar [(visible)]="display">
  <app-menu></app-menu>
</p-sidebar-->


<p-dock [model]="dockItems" position="right" class="hide">
  <ng-template pTemplate="item" let-item>
      <img [src]="item.icon" [alt]="item.label" width="100%">
  </ng-template>
</p-dock>

