<form [formGroup]="carForm">
<div class="card center-card">
  <div class="card-header" style="padding: 20px;">
    <p style="color: #7e1727; font-weight: bold; text-decoration: underline; text-align: center;font-size: x-large">  Ajouter un Véhicule </p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-4">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Constructeur</mat-label>
            <input matInput formControlName="constructorName" name="constructorName" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Modèle</mat-label>
            <input matInput formControlName="model" name="model" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Couleur</mat-label>
            <input matInput formControlName="color" name="color" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Année Modèle</mat-label>
            <input matInput formControlName="year" name="year" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Catégorie</mat-label>
            <input matInput formControlName="category" name="category" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Puissance Fiscale</mat-label>
            <input matInput formControlName="fiscalPower" name="fiscalPower" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Finition</mat-label>
            <input matInput formControlName="trim" name="trim" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Type Carburant</mat-label>
            <input matInput formControlName="fuel" name="fuel" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Kilomètrage</mat-label>
            <input matInput formControlName="mileage" name="mileage" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Boite de vitesse</mat-label>
            <input matInput formControlName="gearbox" name="gearbox" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Immatriculation</mat-label>
            <input matInput formControlName="registration" name="registration" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Assurance</mat-label>
            <input matInput formCon+trolName="assurance" name="assurance" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date fin d'assurance</mat-label>
            <input matInput formControlName="assuranceEndDate" name="assuranceEndDate" required>
          </mat-form-field>
          <mat-checkbox formControlName="assurancePaid" name="assurancePaid" required class="form-group mb-3">
            Assurance Payé ?
          </mat-checkbox>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Kilométrage vidange</mat-label>
            <input matInput formControlName="lastMileage" name="lastMileage" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date visite technique</mat-label>
            <input matInput formControlName="technicalVisit" name="technicalVisit" required>
          </mat-form-field>
          <mat-checkbox formControlName="technicalVisitDone" name="technicalVisitDone" required class="form-group mb-3">
            Visite technique effectué ?
          </mat-checkbox>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date Vignette</mat-label>
            <input matInput formControlName="vignette" name="vignette" required>
          </mat-form-field>
          <mat-checkbox formControlName="vignettePaid" name="vignettePaid" required class="form-group mb-3">
            Vignette Payé ?
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <!--button *ngIf="!updateSettings" pButton pRipple (click)="saveSettings()"
            [disabled]="!enterpriseFormSpecial.valid" type="button"
            label="Sauvegarder" class="writing-font p-button-rounded col-md-12 col-lg-6" icon="pi pi-save"></button>
    <button *ngIf="updateSettings" pButton pRipple (click)="enableSettingsUpdate()" type="button" label="Modifier" icon="pi pi-pencil"
            class="writing-font p-button-rounded col-md-12 col-lg-6"></button-->
  </div>
</div>
</form>
