<form [formGroup]="carForm">
<div class="card center-card">
  <div class="card-header" style="padding: 20px;">
    <p style="color: #7e1727; font-weight: bold; text-decoration: underline; text-align: center;font-size: x-large">  Ajouter un Véhicule </p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-4">
          <div class="form-group mb-3">
          <p-dropdown (onChange)="getDetails()" [options]="constructors"
                      optionLabel="label" [filter]="true"
                      [(ngModel)]="car.constructorName"
                      filterBy="label" [showClear]="true"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="Choissisez un Constructeur">
            <ng-template let-const pTemplate="item">
              <div>
                <div>{{const.label}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          </div>
          <div class="form-group mb-3" style="width: 100%;">
            <p-dropdown [options]="models"
                        optionLabel="label" [filter]="true"
                        [(ngModel)]="car.model"
                        filterBy="label" [showClear]="true"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Choissisez un Modèle">
              <ng-template let-mod pTemplate="item">
                <div>
                  <div>{{mod.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Couleur</mat-label>
            <input matInput formControlName="color" name="color" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Année Modèle</mat-label>
            <input matInput formControlName="year" name="year" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Catégorie</mat-label>
            <input matInput formControlName="category" name="category" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Puissance Fiscale</mat-label>
            <input matInput formControlName="fiscalPower" name="fiscalPower" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="form-group mb-3" style="width: 100%;">
            <p-dropdown [options]="trims"
                        optionLabel="label" [filter]="true"
                        [(ngModel)]="car.trim"
                        filterBy="label" [showClear]="true"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Choissisez une Finition">
              <ng-template let-trim pTemplate="item">
                <div>
                  <div>{{trim.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group mb-3" style="width: 100%;">
            <p-dropdown [options]="fuels"
                        [filter]="true"
                        [(ngModel)]="car.fuel"
                        filterBy="label" [showClear]="true"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Choissisez Le Carburant">
              <ng-template let-fuel pTemplate="item">
                <div>
                  <div>{{fuel}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Kilomètrage</mat-label>
            <input matInput formControlName="mileage" name="mileage" required>
          </mat-form-field>
          <div class="form-group mb-3" style="width: 100%;">
            <p-dropdown [options]="gearbox"
                        [filter]="true"
                        [(ngModel)]="car.gearbox"
                        filterBy="label" [showClear]="true"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Choissisez une Boite à vitesse">
              <ng-template let-gearbox pTemplate="item">
                <div>
                  <div>{{gearbox}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Immatriculation</mat-label>
            <input matInput formControlName="registration" name="registration" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Assurance</mat-label>
            <input matInput formControlName="assurance" name="assurance" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date fin d'assurance</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="assuranceEndDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="assurancePaid" name="assurancePaid" required class="form-group mb-3">
            Assurance Payé ?
          </mat-checkbox>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Kilométrage vidange</mat-label>
            <input matInput formControlName="lastMileage" name="lastMileage" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date Visite Technique</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="technicalVisit">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="technicalVisitDone" name="technicalVisitDone" required class="form-group mb-3">
            Visite technique effectué ?
          </mat-checkbox>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Date Vignette</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="vignette">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="vignettePaid" name="vignettePaid" required class="form-group mb-3">
            Vignette Payé ?
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

    <div class="card-footer" >
      <!--button mat-stroked-button [disabled]="!carForm.valid" class="btn-color">{{btnname}}</button-->
      <button mat-stroked-button (click)="submit()" class="btn-color">{{btnname}}</button>

      <button mat-stroked-button routerLink="/ezlocprimary/primary-module/users" >Annuler</button>
    </div>

</div>
</form>
