<h2 class="writing-font d-flex justify-content-center">Options</h2>
<p-tabView style="height: 80%;">
  <p-tabPanel header="Paramétre du compte" leftIcon="pi pi-user">
    <!--div *ngIf="showLoader" class="dimPage">
      <p-progressSpinner
        style="position: absolute;
  left: 40%;
  top: 40%;" ></p-progressSpinner>
    </div-->
          <p-tabView style="height: 80%;">
            <p-tabPanel header="Informations personelle" leftIcon="pi pi-user">
              <form  [formGroup]="userControl">
              <div class="card center-card" >
                <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Nom
                </div>
                <mat-form-field appearance="outline" class="col-md-8 col-lg-6  ">
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="name" name="name">
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Prénom
                </div>
                <mat-form-field appearance="outline" class="col-md-8 col-lg-6">
                  <mat-label>Prénom</mat-label>
                  <input matInput formControlName="surname" name="surname">
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Téléphone
                </div>
                <mat-form-field appearance="outline" class="col-md-8 col-lg-6">
                  <mat-label>Téléphone</mat-label>
                  <input matInput formControlName="phone" name="phone">
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Email
                </div>
                <mat-form-field appearance="outline" class="col-md-8 col-lg-6" >
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="mail" name="email">
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Adresse
                </div>
                <mat-form-field appearance="outline" class="col-md-8 col-lg-6">
                  <mat-label>Adresse</mat-label>
                  <input matInput formControlName="adress" name="adress">
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                  Ville
                </div>
                <mat-form-field appearance="outline" class="example-full-width col-md-8 col-lg-6">
                  <mat-label>Ville</mat-label>
                  <input type="text"
                         placeholder="Choissisez une ville"
                         aria-label="Villes"
                         matInput
                         formControlName="city"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div class="col-md-4 col-lg-3"></div>
              </div>
                </div>
              <div class="card-footer d-flex justify-content-center">
                <button *ngIf="!updateUser" pButton pRipple (click)="saveUser()" [disabled]="!userControl.valid" type="button" icon="pi pi-save" label="Sauvegarder"
                        class="writing-font p-button-rounded col-md-12 col-lg-6"></button>
                <button *ngIf="updateUser" pButton pRipple (click)="enableUserUpdate()" type="button" label="Modifier" icon="pi pi-pencil"
                        class="writing-font p-button-rounded col-md-12 col-lg-6"></button>
              </div>
              </div>
              </form>
            </p-tabPanel>

          <p-tabPanel header="Sécurité" leftIcon="pi pi-key">
            <form  [formGroup]="passwordControl">
            <div class="card center-card" >
              <div class="card-body">
                <div class="row">
                  <div class="alert alert-warning" *ngIf="oldPasswordCheck">Votre Ancien Mot de passe est incorrecte</div>
                </div>
          <div class="row">
            <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
              Ancien Mot de passe
            </div>
            <mat-form-field  appearance="outline" class="col-md-12 col-lg-7">
              <mat-label>Ancien Mot de passe</mat-label>
              <input matInput formControlName="oldPassword" name="password">
            </mat-form-field>
            <div class="col-md-12 col-lg-2"></div>
          </div>
            <div class="row">
              <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                Nouveau Mot de passe
              </div>
              <mat-form-field  appearance="outline" class="col-md-12 col-lg-7">
                <mat-label>Nouveau Mot de passe</mat-label>
                <input (input)="checkingPasswordFields()" matInput formControlName="newPassword" name="password">
              </mat-form-field>
              <div class="col-md-12 col-lg-2 writing-font ">
                <strong>

                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-3 writing-font d-flex align-items-center justify-content-end">
                Confirmer Mot de passe
              </div>
              <mat-form-field  appearance="outline" class="col-md-12 col-lg-7">
                <mat-label>Confirmer Mot de passe</mat-label>
                <input (input)="checkingPasswordFields()" matInput formControlName="newPasswordConfirmation" name="password">
              </mat-form-field>
              <div class="col-md-12 col-lg-2">
                <strong *ngIf="passwordControl.dirty && !passwordCheck" style="color: red">
                  Le Mot de passe saisie doit etre identique a celui saisie en dessus
                </strong>
              </div>
            </div>
              </div>
            <div class="card-footer d-flex justify-content-center">
              <button pButton pRipple (click)="passwordChange()" [disabled]="!passwordControl.valid && passwordCheck" type="button" icon="pi pi-save" label="Sauvegarder"
                      class="writing-font p-button-rounded col-md-12 col-lg-6"></button>
            </div>
            </div>
            </form>
          </p-tabPanel>
          </p-tabView>

  </p-tabPanel>
  <p-tabPanel header="Paramétre de l'entreprise" leftIcon="pi pi-building">
    <form [formGroup]="enterpriseForm">
      <div class="card center-card" >
        <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-12">
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Raison Sociale</mat-label>
              <input matInput formControlName="name" name="name" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Téléphone</mat-label>
              <input matInput formControlName="phone" name="phone" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Adresse Email</mat-label>
              <input matInput formControlName="mail" name="mail" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Banque</mat-label>
              <input matInput formControlName="bank" name="bank" required>
            </mat-form-field>
          <div class="form-group mb-3">
            <label class="label writing-font" >Aperçu Logo</label>
            <div style="height: 340px; border: solid 1px #ced4da; border-radius: 25px;">
              <img *ngIf="imageSrc" [src]="imageSrc" class="img-fluid" style="border-radius: 25px; height:100%; width:100%;"/>
              <p class="writing-font d-flex justify-content-center align-items-center" *ngIf="!imageSrc"> Pas encore d'image</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="label writing-font" >Logo</label>
            <div class="custom-file">
              <input (change)="imgSelected($event)" type="file" formControlName="logo" class="custom-file-input" accept="image/*">
              <label class="custom-file-label">Sélectionner une image</label>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Site de l'agence</mat-label>
              <input matInput formControlName="website" name="website" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Téléphone Fix</mat-label>
              <input matInput formControlName="landLineNumber" name="landLineNumber" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Numéro Fax</mat-label>
              <input matInput formControlName="fax" name="fax" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Adresse</mat-label>
              <input matInput formControlName="adress" name="adress" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Numéro de registre</mat-label>
              <input matInput formControlName="registryNumber" name="registryNumber" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Id Fiscale</mat-label>
              <input matInput formControlName="fiscalId" name="fiscalId" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
              <mat-label>Immatriculation</mat-label>
              <input matInput formControlName="immatriculation" name="immatriculation" required>
            </mat-form-field>
        </div>

      </div>
        </div>
      <div class="row justify-content-center">
        <button pButton pRipple (click)="saveEnterprise()" [disabled]="!enterpriseForm.valid" type="button" label="Sauvegarder" class="writing-font p-button-rounded col-md-12 col-lg-6"></button>
      </div>
      </div>
    </form>
  </p-tabPanel>
  <p-tabPanel header="Paramétre génerale" leftIcon="pi pi-cog">
    <form [formGroup]="settingsForm">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>TVA</mat-label>
            <input matInput formControlName="tva" name="tva" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Valeur TVA</mat-label>
            <input matInput formControlName="tvaValue" name="tvaValue" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Devise</mat-label>
            <input matInput formControlName="currency" name="currency" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Acronyme</mat-label>
            <input matInput formControlName="acronym" name="acronym" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Préfixe Client</mat-label>
            <input matInput formControlName="clientPrefix" name="clientPrefix" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Préfixe Voiture</mat-label>
            <input matInput formControlName="carPrefix" name="carPrefix" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Préfixe Reservation</mat-label>
            <input matInput formControlName="reservationPrefix" name="reservationPrefix" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Préfixe Facture</mat-label>
            <input matInput formControlName="invoicePrefix" name="invoicePrefix" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group mb-3" style="width: 100%;">
            <mat-label>Préfixe Contract</mat-label>
            <input matInput formControlName="contractPrefix" name="contractPrefix" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <button pButton pRipple (click)="saveSettings()" [disabled]="!settingsForm.valid" type="button" label="Sauvegarder" class="writing-font p-button-rounded col-md-12 col-lg-6"></button>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
<p-toast position="top-right"></p-toast>
